<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <!-- page-header 裡面顯示個人檔案資料 -->
      <div class="page-header">

        <div class="col-md-3 col-sm-4">
          <div class="text-center">

          </div>
        </div>

        <div class="col-md-9 col-sm-8">

        </div>
        <div class="clearfix"></div>

      </div>

    </div>
  </div>
</div>